@font-face {
  font-family: 'Archivo';
  src: local('Archivo'),
    url('./assets/Fonts/Archivo-Regular.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --font-base: 'Archivo', serif;
  --font-alt: 'Open Sans', sans-serif;

  --color-primary: #ee5f20;
  --color-black: #040404;
  --color-gray: #beb8b3;
  --color-grey: #9a9390;
  --color-white: #ffffff;
  --color-crimson: #f4f1ed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Archivo';
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
